* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic medium";
}

#container {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  display: flex;
  z-index: -1px;
  flex-flow: column;
  background-color: #e96535;
}
#container #header {
  background-color: #3b3b3b;
  height: 60px;
  width: 100%;
  position: flex;
  color: white;
  display: flex;
  align-items: center;
}
#container #header img {
  height: 60px;
  cursor: pointer;
}
#container #navegacionPrincipal {
  background-color: white;
  top: 60px;
  height: 60px;
  width: 100%;
  position: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#container #navegacionPrincipal .btn {
  width: 15%;
  height: 100%;
  margin: 8px;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  border: none;
  background-color: #3b3b3b;
  cursor: pointer;
}
#container #navegacionPrincipal .btn:hover {
  background-color: #0f0f0f;
}
#container #content {
  position: flex;
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: nowrap;
  justify-content: space-between;
}
#container #content #menuVertical {
  width: 24%;
  height: 100%;
  position: flex;
  background-color: #3b3b3b;
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
#container #content #menuVertical #noticias {
  background-color: white;
  border-radius: 8px;
  height: 10%;
  margin: 15px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  width: 60%;
  display: flex;
}
#container #content #menuVertical #espacioNoticias {
  width: 98%;
  height: 95%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  padding: 10px;
  font-size: 20px;
}
#container #content #subcontent {
  width: 50%;
  height: 100%;
  position: flex;
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column;
}
#container #content #subcontent #tittleCalendary {
  margin: 20px;
  font-size: 30px;
  color: white;
}
#container #content #subcontent #calendary {
  background-color: white;
  height: 35%;
  width: 80%;
  margin: 20px;
}
#container #content #subcontent #imgAbet {
  margin: 20px;
  height: 25%;
  width: 50%;
  display: flex;
}
#container #content #redes {
  height: 100%;
  width: 26%;
  position: flex;
  display: flex;
  padding: 15px;
  margin: 15px;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: column;
  color: white;
  font-size: 24px;
}
#container #content #redes #video {
  border-radius: 8px;
  flex-flow: column;
  height: 130px;
  width: 210px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container #content #redes #video img {
  height: 120px;
  width: 200px;
}
#container #content #redes #video img:hover {
  height: 125px;
  width: 205px;
  transition: all 0.5s ease;
}
#container #content #redes #iconsRedes {
  height: 20%;
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#container #content #redes #iconsRedes .linkIcon {
  height: 45px;
  display: flex;
  width: 45px;
  margin: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.5s ease;
}
#container #content #redes #iconsRedes .linkIcon:hover {
  background-color: rgba(255, 255, 255, 0.767);
  height: 54px;
  width: 54px;
  transition: all 0.5s ease;
}

/*# sourceMappingURL=style.css.map */
